openapi: 3.0.3
info:
  title: Accounting AI SaaS API
  description: Comprehensive API for accounting operations with AI-powered features
  version: 1.0.0
  contact:
    name: API Support
    email: support@accountingai.pro
    url: https://www.accountingai.pro/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.accountingai.pro/v1
    description: Production server

tags:
  - name: auth
    description: Authentication and authorization
  - name: tenants
    description: Tenant management
  - name: users
    description: User management
  - name: chart-of-accounts
    description: Chart of accounts operations
  - name: journal-entries
    description: Journal entries and ledger operations
  - name: invoices
    description: Sales invoices
  - name: bills
    description: Purchase bills
  - name: payments
    description: Payments and receipts
  - name: bank-accounts
    description: Banking operations
  - name: reports
    description: Financial reports
  - name: ai
    description: AI-powered operations
  - name: webhooks
    description: Webhook management

paths:
  # Authentication endpoints
  /auth/login:
    post:
      tags: [auth]
      summary: Login to the system
      description: Authenticate user and return access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                password:
                  type: string
                  format: password
                  description: User's password
                remember_me:
                  type: boolean
                  description: Whether to extend session duration
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token
                  refresh_token:
                    type: string
                    description: JWT refresh token
                  user:
                    $ref: '#/components/schemas/User'
                  tenant:
                    $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout from the system
      description: Invalidate the current session
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Successfully logged out
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      description: Get a new access token using refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  description: Current refresh token
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Tenant endpoints
  /tenants:
    get:
      tags: [tenants]
      summary: List tenants
      description: Get a list of tenants for the authenticated user
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [tenants]
      summary: Create a new tenant
      description: Create a new tenant account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tenants/{tenantId}:
    get:
      tags: [tenants]
      summary: Get tenant details
      description: Retrieve details of a specific tenant
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the tenant
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [tenants]
      summary: Update tenant
      description: Update details of a specific tenant
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # User endpoints
  /users:
    get:
      tags: [users]
      summary: List users
      description: Get a list of users in the current tenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: role
          in: query
          description: Filter by role
          schema:
            type: string
        - name: active
          in: query
          description: Filter by active status
          schema:
            type: boolean
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{userId}:
    get:
      tags: [users]
      summary: Get user details
      description: Retrieve details of a specific user
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the user
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # Chart of Accounts endpoints
  /chart-of-accounts:
    get:
      tags: [chart-of-accounts]
      summary: List chart of accounts
      description: Get a list of chart of accounts entries
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: account_type
          in: query
          description: Filter by account type
          schema:
            type: string
            enum: [asset, liability, equity, revenue, expense]
        - name: active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: parent_id
          in: query
          description: Filter by parent account
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of chart of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChartOfAccount'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [chart-of-accounts]
      summary: Create chart of account
      description: Create a new chart of account entry
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChartOfAccountRequest'
      responses:
        '201':
          description: Chart of account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartOfAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /chart-of-accounts/{accountId}:
    get:
      tags: [chart-of-accounts]
      summary: Get chart of account
      description: Retrieve details of a specific chart of account
      security:
        - bearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the account
      responses:
        '200':
          description: Chart of account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartOfAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [chart-of-accounts]
      summary: Update chart of account
      description: Update details of a specific chart of account
      security:
        - bearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChartOfAccountRequest'
      responses:
        '200':
          description: Chart of account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartOfAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [chart-of-accounts]
      summary: Delete chart of account
      description: Delete a specific chart of account
      security:
        - bearerAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the account
      responses:
        '204':
          description: Chart of account deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # Journal Entries endpoints
  /journal-entries:
    get:
      tags: [journal-entries]
      summary: List journal entries
      description: Get a list of journal entries
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: start_date
          in: query
          description: Filter by start date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Filter by end date
          schema:
            type: string
            format: date
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [draft, posted, voided]
        - name: reference_type
          in: query
          description: Filter by reference type
          schema:
            type: string
            enum: [invoice, bill, payment, manual, adjustment]
      responses:
        '200':
          description: List of journal entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JournalEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [journal-entries]
      summary: Create journal entry
      description: Create a new journal entry with validation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entry_date, description, lines]
              properties:
                entry_date:
                  type: string
                  format: date
                description:
                  type: string
                reference_type:
                  type: string
                  enum: [invoice, bill, payment, manual, adjustment]
                reference_id:
                  type: string
                  format: uuid
                lines:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required: [account_id]
                    properties:
                      account_id:
                        type: string
                        format: uuid
                      description:
                        type: string
                      debit:
                        type: number
                        minimum: 0
                      credit:
                        type: number
                        minimum: 0
      responses:
        '201':
          description: Journal entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /journal-entries/{entryId}:
    get:
      tags: [journal-entries]
      summary: Get journal entry
      description: Retrieve details of a specific journal entry
      security:
        - bearerAuth: []
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the journal entry
      responses:
        '200':
          description: Journal entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [journal-entries]
      summary: Update journal entry
      description: Update details of a specific journal entry (only allowed if draft)
      security:
        - bearerAuth: []
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the journal entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJournalEntryRequest'
      responses:
        '200':
          description: Journal entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [journal-entries]
      summary: Delete journal entry
      description: Delete a specific journal entry (only allowed if draft)
      security:
        - bearerAuth: []
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the journal entry
      responses:
        '204':
          description: Journal entry deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /journal-entries/{entryId}/post:
    post:
      tags: [journal-entries]
      summary: Post journal entry
      description: Post a journal entry to make it permanent
      security:
        - bearerAuth: []
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the journal entry
      responses:
        '200':
          description: Journal entry posted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /journal-entries/{entryId}/void:
    post:
      tags: [journal-entries]
      summary: Void journal entry
      description: Void a posted journal entry
      security:
        - bearerAuth: []
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the journal entry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  description: Reason for voiding the entry
      responses:
        '200':
          description: Journal entry voided successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # Invoices endpoints
  /invoices:
    get:
      tags: [invoices]
      summary: List invoices
      description: Get a list of invoices
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [draft, sent, viewed, paid, overdue, partial, cancelled, disputed]
        - name: contact_id
          in: query
          description: Filter by contact
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          description: Filter by start date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Filter by end date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [invoices]
      summary: Create invoice
      description: Create a new invoice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /invoices/{invoiceId}:
    get:
      tags: [invoices]
      summary: Get invoice
      description: Retrieve details of a specific invoice
      security:
        - bearerAuth: []
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the invoice
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # Reports endpoints
  /reports/trial-balance:
    get:
      tags: [reports]
      summary: Trial balance report
      description: Generate trial balance report
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date for the report
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date for the report
        - name: include_zero_balance
          in: query
          schema:
            type: boolean
            default: false
          description: Include accounts with zero balance
      responses:
        '200':
          description: Trial balance report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialBalanceReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/balance-sheet:
    get:
      tags: [reports]
      summary: Balance sheet report
      description: Generate balance sheet report
      security:
        - bearerAuth: []
      parameters:
        - name: as_of_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Date for the balance sheet
      responses:
        '200':
          description: Balance sheet report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSheetReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/income-statement:
    get:
      tags: [reports]
      summary: Income statement report
      description: Generate income statement report
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date for the report
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date for the report
      responses:
        '200':
          description: Income statement report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeStatementReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # AI endpoints
  /ai/classify-transaction:
    post:
      tags: [ai]
      summary: Classify transaction
      description: Use AI to classify a transaction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description, amount, transaction_type]
              properties:
                description:
                  type: string
                  description: Description of the transaction
                amount:
                  type: number
                  description: Amount of the transaction
                transaction_type:
                  type: string
                  enum: [debit, credit]
                  description: Type of the transaction
                vendor:
                  type: string
                  description: Vendor name (optional)
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITransactionClassification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # Webhook endpoints
  /webhooks/subscriptions:
    get:
      tags: [webhooks]
      summary: List webhook subscriptions
      description: Get a list of webhook subscriptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of webhook subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [webhooks]
      summary: Create webhook subscription
      description: Create a new webhook subscription
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
      responses:
        '201':
          description: Webhook subscription created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    LimitParam:
      name: limit
      in: query
      description: Number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    OffsetParam:
      name: offset
      in: query
      description: Number of records to skip
      schema:
        type: integer
        minimum: 0
        default: 0
    SortByParam:
      name: sort_by
      in: query
      description: Field to sort by
      schema:
        type: string
        default: created_at
    OrderParam:
      name: order
      in: query
      description: Sort order
      schema:
        type: string
        enum: [asc, desc]
        default: desc

  schemas:
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        subdomain:
          type: string
        tier:
          type: string
          enum: [starter, professional, enterprise]
        status:
          type: string
          enum: [active, suspended, trial]
        trial_ends_at:
          type: string
          format: date-time
        settings:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
        role:
          type: string
        is_active:
          type: boolean
        last_login_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ChartOfAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        account_type:
          type: string
          enum: [asset, liability, equity, revenue, expense]
        account_subtype:
          type: string
        parent_id:
          type: string
          format: uuid
        is_header:
          type: boolean
        normal_balance:
          type: string
          enum: [debit, credit]
        is_active:
          type: boolean
        is_system:
          type: boolean
        currency_code:
          type: string
          default: USD
        description:
          type: string
        opening_balance:
          type: number
        current_balance:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    JournalEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entry_number:
          type: string
        entry_date:
          type: string
          format: date
        description:
          type: string
        reference_type:
          type: string
          enum: [invoice, bill, payment, manual, adjustment]
        reference_id:
          type: string
          format: uuid
        total_debit:
          type: number
        total_credit:
          type: number
        status:
          type: string
          enum: [draft, posted, voided]
        posted_at:
          type: string
          format: date-time
        posted_by:
          type: string
          format: uuid
        voided_at:
          type: string
          format: date-time
        voided_by:
          type: string
          format: uuid
        void_reason:
          type: string
        fiscal_year:
          type: integer
        fiscal_period:
          type: integer
        is_closing_entry:
          type: boolean
        is_adjusting_entry:
          type: boolean
        lines:
          type: array
          items:
            $ref: '#/components/schemas/JournalLine'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    JournalLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        line_number:
          type: integer
        account_id:
          type: string
          format: uuid
        description:
          type: string
        debit:
          type: number
        credit:
          type: number
        currency_code:
          type: string
        exchange_rate:
          type: number
        tax_amount:
          type: number
        tax_rate:
          type: number
        memo:
          type: string
        department_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        transaction_number:
          type: string
        contact_id:
          type: string
          format: uuid
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency_code:
          type: string
        subtotal:
          type: number
        tax_amount:
          type: number
        discount_amount:
          type: number
        total_amount:
          type: number
        paid_amount:
          type: number
        balance_due:
          type: number
        status:
          type: string
          enum: [draft, sent, viewed, paid, overdue, partial, cancelled, disputed]
        notes:
          type: string
        terms:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TransactionItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        item_sequence:
          type: integer
        item_name:
          type: string
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        tax_rate:
          type: number
        tax_amount:
          type: number
        total_amount:
          type: number
        account_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        count:
          type: integer
        per_page:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
        links:
          type: object
          properties:
            first:
              type: string
            last:
              type: string
            prev:
              type: string
            next:
              type: string

    CreateTenantRequest:
      type: object
      required: [name, subdomain]
      properties:
        name:
          type: string
        subdomain:
          type: string
        tier:
          type: string
          enum: [starter, professional, enterprise]
          default: starter

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
        settings:
          type: object

    CreateChartOfAccountRequest:
      type: object
      required: [code, name, account_type, normal_balance]
      properties:
        code:
          type: string
        name:
          type: string
        account_type:
          type: string
          enum: [asset, liability, equity, revenue, expense]
        account_subtype:
          type: string
        parent_id:
          type: string
          format: uuid
        normal_balance:
          type: string
          enum: [debit, credit]
        is_header:
          type: boolean
          default: false
        is_active:
          type: boolean
          default: true
        description:
          type: string

    UpdateChartOfAccountRequest:
      type: object
      properties:
        name:
          type: string
        account_subtype:
          type: string
        parent_id:
          type: string
          format: uuid
        is_active:
          type: boolean
        description:
          type: string

    UpdateJournalEntryRequest:
      type: object
      properties:
        description:
          type: string
        lines:
          type: array
          minItems: 2
          items:
            type: object
            required: [account_id]
            properties:
              account_id:
                type: string
                format: uuid
              description:
                type: string
              debit:
                type: number
                minimum: 0
              credit:
                type: number
                minimum: 0

    CreateInvoiceRequest:
      type: object
      required: [contact_id, issue_date, items]
      properties:
        contact_id:
          type: string
          format: uuid
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency_code:
          type: string
          default: USD
        notes:
          type: string
        terms:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [item_name, quantity, unit_price]
            properties:
              item_name:
                type: string
              description:
                type: string
              quantity:
                type: number
              unit_price:
                type: number
              tax_rate:
                type: number
              account_id:
                type: string
                format: uuid

    TrialBalanceReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        accounts:
          type: array
          items:
            type: object
            properties:
              account:
                $ref: '#/components/schemas/ChartOfAccount'
              opening_balance:
                type: number
              debit_activity:
                type: number
              credit_activity:
                type: number
              closing_balance:
                type: number
        totals:
          type: object
          properties:
            total_debits:
              type: number
            total_credits:
              type: number
            net_difference:
              type: number

    BalanceSheetReport:
      type: object
      properties:
        as_of_date:
          type: string
          format: date
        assets:
          type: object
          properties:
            current_assets:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            fixed_assets:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            total_assets:
              type: number
        liabilities:
          type: object
          properties:
            current_liabilities:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            long_term_liabilities:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            total_liabilities:
              type: number
        equity:
          type: object
          properties:
            equity_accounts:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            total_equity:
              type: number
        total_liabilities_and_equity:
          type: number

    IncomeStatementReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        revenue:
          type: object
          properties:
            revenue_accounts:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            total_revenue:
              type: number
        expenses:
          type: object
          properties:
            expense_accounts:
              type: array
              items:
                $ref: '#/components/schemas/ReportAccountBalance'
            total_expenses:
              type: number
        net_income:
          type: number

    ReportAccountBalance:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/ChartOfAccount'
        balance:
          type: number

    AITransactionClassification:
      type: object
      properties:
        predicted_account:
          $ref: '#/components/schemas/ChartOfAccount'
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
        alternative_accounts:
          type: array
          items:
            type: object
            properties:
              account:
                $ref: '#/components/schemas/ChartOfAccount'
              confidence:
                type: number

    WebhookSubscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        secret:
          type: string
          description: Secret for webhook signature verification
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateWebhookSubscriptionRequest:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [invoice.created, invoice.updated, payment.received, journal.entry.posted]
        is_active:
          type: boolean
          default: true

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per hour
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: string
            format: date-time
          description: Time when rate limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error details
            request_id:
              type: string
              description: Unique identifier for the request

  examples:
    JournalEntryUnbalanced:
      summary: Journal entry unbalanced error
      value:
        error:
          code: JOURNAL_UNBALANCED
          message: Journal entry out of balance
          details:
            debit_total: 1000.00
            credit_total: 950.00
            difference: 50.00
          request_id: req_abc123

security:
  - bearerAuth: []